/* Primeira parte configuração do margin em 0 da pagina e
o respectivo padding 0.
- Com essa primeira configuração abaixo o checkbox ficou centralizado a pagina quase que automaticamente 
*/


*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    display: grid;
    height: 100vh;
    place-items: center;
    background:  #2b2b2b;
}

.botao{
    height: 160px;
    width: 320px;
    background: #222;
    appearance: none;
    border-radius: 160px;
    box-shadow: inset 0 8px 60px rgba(0,0,0,0.1),
                inset 0 8px 8px rgba(0,0,0,0.1),
                inset 0 -4px 4px rgba(0,0,0,0.1);
    position: relative;
    outline: none;
    cursor: pointer;
    transition: 0.5s;

}

.botao::before{
    height: 160px;
    width: 160px;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background: linear-gradient(to bottom, #444, #222);
    border-radius: 160px;
    transform: scale(0.9);
    transform: 0.5s;
    box-shadow: 0 8px 40px rgba(0,0,0,0.5),
                inset 4px 4px rgba(255, 255,255, 0.2)
                inset -4px 4px rgba(255, 255,255, 0.2)

}

.botao:checked{
    background: #fff;
    box-shadow: inset 0 2px 60px rgba(0,0,0,0.1),
                inset 0 2px 60px rgba(0,0,0,0.1),
                inset 0 -4px 4px rgba(0,0,0,0.05),
}
.botao:checked::before{
    left: 160px;
    box-shadow: inset 0 8px 20px rgba(0,0,0,0.1),
                inset 4px 4px rgba(255,255,255,1),
                inset -4px 4px rgba(255,255,255,1);
    background: linear-gradient(to bottom, #eaeaea, #f9f9f9);
}                   

.botao::after{
    content: "";
    position: absolute;
    height: 100vh;
    width: 100vh;
    background: #2b2b2b;
    top: 80px;
    left: 160px;
    z-index: -1;
    transform: translate(-50%, -50%);
    transition: 0.5s;

}


.botao:checked::after{
    background: #f8f8f8;
}










